{% extends "!layout.html" %}

{% block extrahead %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28893880-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {{ super() }}
{% endblock %}

{% block header %}
    <div style="display:none">
    \(
        \newcommand{\d}{\mathrm{d}}
        \newcommand{\bomega}{\vec\omega}
        \newcommand{\half}{ {1\over 2} }
        \def\mathnot#1{\text{"$#1$"}}

        %operators
        \newcommand{\diag}{\mathrm{diag}}
        \newcommand{\sinc}{\mathrm{sinc}}
        \newcommand{\Sh}{ {\large\style{font-family:Times}{\text{Ш}}} }
        \newcommand{\res}{\mathrm{Res}}
    \)
    </div>
    {{ super() }}
{% endblock %}
